@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;

}

*{
  box-sizing: border-box;
  max-height: 95vh;
}

.app{
  margin: 50px auto;
  width: 70%;
  height: 90vh;
  min-height: min-content;
  background-color: #F5F7FB;
  padding-top: 20px;
  border-radius: 20px;
  text-align: center;
}

.start-screen{
  background-image: url(../waves.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  height: 95%;
  width: 100%;
}

.quiz-screen{
  margin-top: -15px;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1000px;
  height: 100%;
}

.question-container{
  list-style: none;
  padding-bottom: 25px;
  border-bottom: 1px solid #818181;
}

.answer-container{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}


.btn{
  font-family: inherit;
  display: block;
  margin: 0 auto;
  background-color: #4D5B9E;
  border: none;
  color: #fff;
  border-radius: 15px;
  padding: 1em 2em;
  cursor: pointer;
}

.btn:active{
  box-shadow: inset 4px 4px 18px 5px rgba(0,0,0,0.36);
}

.answers-btn{
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 700;
}

.answer{
  background-color: #F5F7FB;
  padding: 0.5em 1em;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.start-btn{
  margin-top: 100px;
  font-size: 2rem;
  font-weight: 700;
}

h1{
  font-size: 5rem;
  text-align: center;
}

.svg-blob{
  display: none;
  width: 400px;
  position: absolute;
}

#blobOne{
  top: 0;
  right: 0;
}

.question {
  font-size: 1.3rem;
}

.selected{
  background-color: green;
}

.score{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
}

.difficulty-lable{
  font-size: 2rem;
}

.difficulty-selector::-ms-expand {
  display: none;
}

.difficulty-selector {
  appearance: none;
  font-size: 1.4rem;
  padding: 5px 20px 5px 8px;
  border: 1px solid #999;
  border-radius: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23333' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 9px;
  color: #333;
}

.difficulty-selector:hover {
  border-color: #777;
}

.difficulty-selector:focus {
  border-color: #999;
  box-shadow: 0 0 1px 2px #6db4ff;
  outline: none;
}
